<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-12 col-12 mx-aut0">
            <div class="row">

                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                     <img src="img/404.png" alt="asim" class="img-fluid" title="bangasah">
                    </figure>
                <p>welcome</p>
                <h4>{{errorMsg}}</h4>
                <a href="/"><button>Go back</button></a>
          </div>
         
            </div>



          </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>