<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-aut0">
            <div class="row">

                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                     <img src="img/about.jpg" alt="asim" class="img-fluid" title="bangasah">
                    </figure>
                   </div>

          <div class="col-md-6 col-12 main_header_left">
                <p>welcome to weather app</p>
                <h4>I am <span class="text_clr">Backend</span>Developer</h4>
                <a href="/weather"><button>About me</button></a>
          </div>
         
            </div>



          </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>